.container-card{
    padding: 10px;
    width: 50%;
    text-align: center;
    @media(min-width: 768px) {
        width: calc(100% / 3);
    }
    @media(min-width: 992px) {
        width: calc(100% / 4);
    }
    @media(min-width: 1200px) {
        width: calc(100% / 5);
    }
    @media(min-width: 1500px){
        width: calc(100% / 7);
    }

    &.top-movie-card{
        .card-movie-rating{
            display: inline-block;
        }
    }

    a{
        transition: 0.3s ease box-shadow;
        display: inline-block;
        position: relative;
        background: black;
        cursor: pointer;
    
        img {
            transition: 0.3s ease transform, 0.3s ease opacity;
            max-width: 100%;
            opacity: .8;
            transform: translate3d(0, 0, 0);
            transform-origin: center;
            box-shadow: 0 0 0 0 black;
            border-radius: 8px;
        }

        .card-movie-rating {
            display: none;
            position: absolute;
            bottom: 0;
            right: 5px;
            color: var(--white);
            text-shadow: -1px 1px 0 var(--black);
            svg{
                color: var(--yellow);
            }
        }
    
        &:after {
            animation-name: border-highlight;
            animation-iteration-count: infinite;
            animation-duration: 0.8s;
            transition: 0.3s ease transform, 0.3s ease opacity, 0.3s ease top, 0.3s ease left, 0.3s ease border;
            content: "";
            opacity: 0;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            border: solid 2px white;
            pointer-events: none;
            border-radius: 8px;
        }
    
        &:before {
            transition: 0.3s ease opacity, 0.3s ease transform;
            content: "";
            opacity: 0;
            position: absolute;
            width: 100%;
            height: 100%;
            animation-duration: 1s;
            animation-iteration-count: 1;
            animation-delay: -0.2s;
            animation-timing-function: ease-in-out;
            backdrop-filter: brightness(1.5);
            -webkit-mask-image: linear-gradient(137deg, rgba(255, 255, 255, 0) 45%, rgb(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0) 55%);
            -webkit-mask-size: 400% 400%;
            -webkit-mask-repeat: no-repeat;
            z-index: 1;
        }
    
        &:hover,
        &:focus,
        &:active {
            box-shadow: 0px 26px 30px -10px black;
    
            img {
                transform: scale(1.05);
                opacity: 1;
            }
    
            &:before {
                opacity: 1;
                animation-name: reflection;
                transform: scale(1.08) translateY(-4px);
            }
    
            &:after {
                opacity: 1;
                transform: scaleY(1.08) scaleX(1.10);
            }
        }
    }
}

@keyframes border-highlight {
    0% {
        border-color: white;
    }

    50% {
        border-color: rgb(255 255 255 / 50%);
    }

    100% {
        border-color: white;
    }
}

@keyframes reflection {
    0% {
        -webkit-mask-position: 100% 50%;
    }

    100% {
        -webkit-mask-position: 0% 50%;
    }

    /* 100% {
	  -webkit-mask-position: 0% 50%;
	} */
}